<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tenzind.ominitiator">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.example.tenzind.ominitiator.MyAnalytics"
        android:allowBackup="true"
        android:icon="@mipmap/notification"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/notification"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.tenzind.ominitiator.SplashScreenActivity">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
            <meta-data
                android:name="com.google.android.gms.analytics.globalConfigResource"
                android:resource="@xml/global_tracker" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstance">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
        </service>
        <activity android:name="com.example.tenzind.ominitiator.Start" />
        <activity android:name="com.example.tenzind.ominitiator.AssignTask" />
        <activity android:name="com.example.tenzind.ominitiator.Executions" />
        <activity android:name="com.example.tenzind.ominitiator.TaskDetails" />
        <activity android:name="com.example.tenzind.ominitiator.OrderDetails" />
        <activity android:name="com.example.tenzind.ominitiator.Stop" />
        <activity android:name="com.example.tenzind.ominitiator.CleanRestart" />
        <activity android:name="com.example.tenzind.ominitiator.FreeMemory" />
        <activity android:name="com.example.tenzind.ominitiator.OrderItems" />
        <activity android:name="com.example.tenzind.ominitiator.Tasks" />
        <activity android:name="com.example.tenzind.ominitiator.Order" />
        <activity android:name="com.example.tenzind.ominitiator.OrderItemDetails" />
        <activity android:name="com.example.tenzind.ominitiator.LoginActivity" />
        <activity android:name="com.example.tenzind.ominitiator.MainActivity" />
        <activity android:name="com.example.tenzind.ominitiator.MainMenu" />
        <activity android:name="com.example.tenzind.ominitiator.ServerOperations" />
        <activity android:name="com.example.tenzind.ominitiator.Cancel" />
        <activity android:name="com.example.tenzind.ominitiator.Force" />
        <activity android:name="com.example.tenzind.ominitiator.OrderStatus" />
        <activity android:name="com.example.tenzind.ominitiator.OrderOperations" />
        <activity android:name="com.example.tenzind.ominitiator.OrderStatusAllOrderIds" />
        <activity android:name="com.example.tenzind.ominitiator.OMWebview" />
        <activity android:name="com.example.tenzind.ominitiator.Orders" />
    </application>
</manifest>